.title {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 30px;
  h2 {
    color: hsl(187, 91%, 41%);
    font-size: 40px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}
